{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
{% load filter %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
 $.ajax({
        url: "{% url 'farm:ajax_method' user.id %}",
        dataType: "json",
        success: function (data) {
            var ajax="";

            ajax += "<tr class='text-center'>"
            ajax += "<td>" + data.nowtemp + "</td>"
            ajax += "<td>" + data.nowhum + "</td>"
            ajax += "<td>" + data.nowillum + "</td>"
            ajax += "<td>" + data.nowwaterCycle + "</td>"
            ajax += "</tr>"
            $('[id="ajax"]').html(ajax);
        },
        error: function (request, status, error) {
            console.log('실패');
        }
   })	
 setInterval(function (){
  	$.ajax({
        url: "{% url 'farm:ajax_method' user.id %}",
        dataType: "json",
        success: function (data) {
            var ajax="";
            
            ajax += "<tr class='text-center'>"
            ajax += "<td>" + data.nowtemp + "</td>"
            ajax += "<td>" + data.nowhum + "</td>"
            ajax += "<td>" + data.nowillum + "</td>"
            ajax += "<td>" + data.nowwaterCycle + "</td>"
            ajax += "</tr>"
            console.log(data.nowtemp);
            $('[id="ajax"]').html(ajax);
        },
        error: function (request, status, error) {
            console.log('실패');
        }
   });
  },3000);
});
</script>

<div class="container my-3"  >
    <table class="table" id="here">
        <thead>
            <tr class="text-center table-dark">
                <th>현재 온도</th>
                <th >현재 습도</th>
                <th>현재 조도</th>
                <th>현재 물 주기</th>
            </tr>
        </thead>
        <tbody id="ajax">
         
        </tbody>
    </table>
    
    <div class="card" style="width: 18rem;">
    <form method="post" action="{% url 'farm:aduino_insert' user.id %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <div class="card-header" >원하는 값을 설정하세요</div>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><label for="temp" class="col-sm-6 col-form-label">온도 </label>
            <input type="text" class="form-control" name="temp" id="temp" value="{{ aduino.temp }}"
                   value="{{ form.temp.value|default_if_none:'' }}"></li>

            <li class="list-group-item"><label for="hum"class="col-sm-6 col-form-label">습도</label>
            <input type="text" class="form-control" name="hum" id="hum" value="{{ aduino.hum }}"
                          value="{{ form.hum.value|default_if_none:'' }}"></li>

            <li class="list-group-item"><label for="illum" class="col-sm-6 col-form-label">조도</label>
            <input type="text" class="form-control" name="illum" id="illum" value="{{ aduino.illum }}"
                                 value="{{ form.illum.value|default_if_none:'' }}"></li>

            <li class="list-group-item"><label for="waterCycle"class="col-sm-6 col-form-label">물 주기</label>
            <input type="text" class="form-control" name="waterCycle" id="waterCycle"  value="{{ aduino.waterCycle }}"
                                        value="{{ form.waterCycle.value|default_if_none:'' }}"></li>
    
        <button type="submit" class="btn btn-primary" style="background-color:black; border-color:black;">저장</button>
    </form>
    </div>    
</div>

<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="text-center table-dark">
                <th>번호</th>
                <th style="width:50%">제목</th>
                <th>글쓴이</th>
                <th>작성일시</th>
            </tr>
        </thead>
        <tbody>
        {% if question_list %}
        {% for question in question_list %}
        <tr class="text-center">
            <td>
                <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                {{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}
            </td>
            <td class="text-start">
                <a href="{% url 'farm:detail' question.id  %}">{{ question.subject }}</a>
                {% if question.answer_set.count > 0 %}
                <span class="text-danger small mx-2">{{ question.answer_set.count }}</span>
                {% endif %}
            
            </td>
            <td>{{ question.author.username }}</td>  <!-- 글쓴이 추가 -->
            <td>{{ question.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
      <!-- 페이징처리 시작 -->
      <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if question_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in question_list.paginator.page_range %}
        {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
        {% if page_number == question_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if question_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <a href="{% url 'farm:question_create' %}" class="btn btn-primary">질문 등록하기</a>
</div>


{% else %}
<head>
    <meta http-equiv="refresh" content="0; {% url 'common:login' %}">
</head>
{% endif %}
{%endblock%}
